services:

  rabbitmq:
    image: rabbitmq:4.1.3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672"
    networks:
      - taskapi-network

  account:
    build:
      context: .
      dockerfile: apps/account/Dockerfile
    container_name: taskapi-account
    restart: unless-stopped
    ports:
      - "3001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      SESSION_TOKEN_SECRET: ${SESSION_TOKEN_SECRET}
      RESET_TOKEN_SECRET: ${RESET_TOKEN_SECRET}
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - taskapi-network

  notification:
    build:
      context: .
      dockerfile: apps/notification/Dockerfile
    container_name: taskapi-notification
    restart: unless-stopped
    ports:
      - "3003"
    environment:
      EMAIL_SENDER_KEY: ${EMAIL_SENDER_KEY}
      EMAIL_DOMAIN_ADDRESS: ${EMAIL_DOMAIN_ADDRESS}
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - taskapi-network

  task:
    build:
      context: .
      dockerfile: apps/task/Dockerfile
    container_name: taskapi-task
    restart: unless-stopped
    ports:
      - "3002"
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - taskapi-network

  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    container_name: taskapi-gateway
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - taskapi-network

networks:
  taskapi-network:
    driver: bridge
